h1 a { font-family: Buxton Sketch;
	font-size: 300%;
    color: #E89EAF;
    text-align: center;

}

h2 a { font-family: Buxton Sketch;
	font-size: 300%;
    color: #B86578;
    text-align: center;
}

h3 a { font-family: Buxton Sketch;
	font-size: 300%;
    color: #B86578;
    text-align: center;
}

p{   font-family: Gabriola;
	font-size: 200%;
    color: #548F81;

}
